job-application-agent-workflow.json
{
  "name": "Job Application Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Description",
        "formFields": {
          "values": [
            { "fieldLabel": "job_title" },
            { "fieldLabel": "company_name" },
            { "fieldLabel": "job_description", "fieldType": "textarea" },
            { "fieldLabel": "job_url" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [0, 0],
      "id": "829965d0-575e-405d-89ff-305c057be878",
      "name": "On form submission",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "YOUR_RESUME_FILE_ID",
          "mode": "list",
          "cachedResultName": "Your Resume.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/YOUR_RESUME_FILE_ID/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [0, 208],
      "id": "9a618bbf-8bca-4f14-b182-f85be09bcf8a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [0, 416],
      "id": "e7a78652-bc08-4364-9090-add6f382b671",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Title: {{ $('On form submission').item.json.job_title }}\nCompany: {{ $('On form submission').item.json.company_name }}\n\nJob Description:\n{{ $('On form submission').item.json.job_description }}",
        "options": {
          "systemMessage": "You are a professional job application assistant. You have access to the user's resume and a job description.\n\nYour job is to:\n1. Analyze how well the resume matches the job (give a match score out of 10)\n2. Write a tailored, compelling cover letter (3-4 paragraphs)\n3. Answer any selection criteria found in the job description\n4. Suggest 3-5 specific resume improvements for this role\n\nAlways be specific — reference exact skills, technologies, and experiences from the resume that match the job.\n\nReturn your response as JSON with these exact keys:\n- match_score\n- cover_letter\n- selection_criteria\n- resume_tips\n\nResume:\n[paste your resume text here]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [0, 624],
      "id": "d26ecb91-5244-456b-bdbb-bd228bf48d15",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [0, 496],
      "id": "f538fb73-2ae3-417d-8aca-4a269647cb75",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.item.json.output;\nconst cleaned = rawOutput.replace(/```json|```|\\n/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{ json: {\n  match_score: parsed.match_score,\n  cover_letter: parsed.cover_letter,\n  selection_criteria: parsed.selection_criteria,\n  resume_tips: parsed.resume_tips\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 976],
      "id": "6c7cc8a0-1fc5-46d3-a1fe-5a3fe3858c6c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Job Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toLocaleDateString() }}",
            "Company": "={{ $('On form submission').item.json.company_name }}",
            "Job Title": "={{ $('On form submission').item.json.job_title }}",
            "URL": "={{ $('On form submission').item.json.job_url }}",
            "Match Score": "={{ $json.match_score }}",
            "Cover Letter": "={{ $json.cover_letter }}",
            "Status": "Drafted"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Date", "displayName": "Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Company", "displayName": "Company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Job Title", "displayName": "Job Title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "URL", "displayName": "URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Match Score", "displayName": "Match Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Cover Letter", "displayName": "Cover Letter", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 1184],
      "id": "b1c458f5-9f79-46f6-b621-148b4a9b39eb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=Application: {{ $('On form submission').item.json.job_title }} at {{ $('On form submission').item.json.company_name }}",
        "message": "=<h2>Job Application Summary</h2>\n\n<p><strong>Company:</strong> {{ $('On form submission').item.json.company_name }}</p>\n<p><strong>Job Title:</strong> {{ $('On form submission').item.json.job_title }}</p>\n<p><strong>Match Score:</strong> {{ $('Code in JavaScript').item.json.match_score }}/10</p>\n\n<hr>\n\n<h3>📝 Cover Letter</h3>\n<p>{{ $('Code in JavaScript').item.json.cover_letter.replace(/\\\\n/g, '<br>') }}</p>\n\n<hr>\n\n<h3>✅ Selection Criteria</h3>\n<ul>\n{{ $('Code in JavaScript').item.json.selection_criteria.map(c => `<li><strong>${c.criterion}:</strong> ${c.response}</li>`).join('') }}\n</ul>\n\n<hr>\n\n<h3>💡 Resume Tips</h3>\n<ul>\n{{ $('Code in JavaScript').item.json.resume_tips.map(tip => `<li>${tip}</li>`).join('') }}\n</ul>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [0, 1184],
      "id": "84b15901-7c81-4574-bff8-195d7a038d59",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [[{ "node": "Download file", "type": "main", "index": 0 }]]
    },
    "Download file": {
      "main": [[{ "node": "Extract from File", "type": "main", "index": 0 }]]
    },
    "Extract from File": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [
        [{ "node": "Append row in sheet", "type": "main", "index": 0 }],
        [{ "node": "Send a message", "type": "main", "index": 0 }]
      ]
    },
    "Append row in sheet": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
